# Analytics Configuration (Optional)
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_MS_CLARITY_ID=

# Contact Email
NEXT_PUBLIC_CONTACT_EMAIL=naman0807arora@gmail.com

# Form Submission (Optional - add your email service)
SMTP_FROM=naman@namanarora.dev
SMTP_TO=naman0807arora@gmail.com
